:root {
    //primary colors
    --blue-extradark: #003d99;
    --blue-dark: #005ce6;
    --blue-extralight: #e6f0ff;
    --blue-light: #99c2ff;
    --blue: #3385ff;

    //aux colors
    --red: #EB3D3D;
    --red-light: #F05454;
    --red-dark: #D03333;
    --green: #32D957;
    --green-light: #50E170;
    --green-dark: #28BB49;
    --yellow: #FFCE52;
    --yellow-light: #FFD76B;
    --yellow-dark: #D9B043;

    //white colors
    --white: #F7F2FA;
    --white-light: #FDFDFF;
    --white-dark: #EDEAEF;
    --white-button: #ffffff2d;

    //black colors
    --black: #322D43;
    --black-light: #444053;
    --black-dark: #1B1828;

    //gray colors
    --gray-1: #555456;
    --gray-2: #666566;
    --gray-3: #767576;
    --gray-4: #868587;
    --gray-5: #969597;
    --gray-6: #A6A6A7;
    --gray-7: #DDDDDD;
}